body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
  font-family: Arial, sans-serif;
  color: white;
}

#container {
  position: relative;
  z-index: 10;
  text-align: center;
  top: 40%;
}

button {
  padding: 12px 28px;
  margin: 10px;
  border-radius: 30px;
  border: none;
  background: #ff4d6d;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* COMMON POP */
.pop {
  position: fixed;
  top: -20px;
  animation: fall linear forwards;
}

/* SHAPES */
.square { width: 10px; height: 10px; }
.circle { width: 10px; height: 10px; border-radius: 50%; }
.heart {
  width: 12px;
  height: 12px;
  background: red;
  transform: rotate(45deg);
}
.heart::before,
.heart::after {
  content: "";
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  position: absolute;
}
.heart::before { top: -6px; left: 0; }
.heart::after { left: -6px; top: 0; }

.star {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid yellow;
}

.streak {
  width: 3px;
  height: 25px;
}

/* FALL */
@keyframes fall {
  to { top: 110vh; transform: rotate(360deg); }
}
